$greyish-brown: #444444;
$white: #f5f5f5;
$brown-grey: #999999;
$red: #db006b;
$berry: #9e2058;
$light-gray: #ddd;
$brown-grey: #999;

$settings-img: "../../img/settings.svg";

.form {
  border-radius: 4px;
  box-shadow: 0 60px 100px 0 rgba(0, 0, 0, 0.15);
}

.formContainer {
  margin: 1rem;
  transition: all 0.4s ease-in-out;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.container:not(:first-child) {
  margin-top: 2px;
}

.container:nth-child(2) {
  align-content: center;
}

.title {
  min-height: 32px;
  width: 100%;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: $greyish-brown;
}

.description {
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $greyish-brown;
  margin: 0;
}

.button {
  width: 100%;
  min-height: 38px;
  border-radius: 4px;
  border: solid 1px #db006b;
  background-color: #db006b;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

.button:hover, .button:focus, .button:active {
  border: solid 1px $berry;
  background-color: $berry;
}

.button:focus {
  outline-color: $red;
}

.button:disabled {
  border: solid 1px $light-gray;
  background-color: $light-gray;
  color: $brown-grey;
  cursor: default;
}

@media(min-width: 544px) {
  .button {
    width: 95px;
  }
}

@media(min-width: 670px) {
  .formContainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container:nth-child(2) {
    min-height: 100px;
  }

  .form {
    flex-basis: 540px;
    margin-left: 60px;
  }

  .settingsImg {
    flex-basis: 221px;
    height: 429px;
    min-width: 221px;
    background-image: url($settings-img);
    background-repeat: no-repeat;
    display: block;
  }
}
