$berry: #9e2058;

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: $berry;
  height: 65px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 20px;
}
